@import url(../variables.css);

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3%;
  
  background-color: var(--primary-color);
  color: var(--brand-light);

  font-size: 1.8rem;
}

#container section {
  padding: 5px;
}