@import url(../variables.css);
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 3%;
  
  background-color: var(--primary-color);
  color: var(--brand-light);
}

nav div {
  font-size: 1.8rem;
  
  padding-block: 5px;
  padding-inline: 20px;
}